/* Hacked together based on:
 * https://jgthms.com/web-design-in-4-minutes/ 
 */

* {
  box-sizing: border-box;
}

body {
  color: #555;
  margin: 0 auto;
  /* max-width: 50em; */
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

h2, h3 {
  margin-top: 1.5em;
}

h1, h2, strong {
  color: #333;
}

a {
  color: #f56a6a;
}

blockquote, q {
  border-left: solid 4px #bbb;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

/*==================================================*/

pre {
	white-space: pre-line;
	white-space:  pre-wrap;
	background: #ffffff;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
	display: block;	
}

/*==================================================*/

table {
	padding: 10px;
}

td {
	padding-left: 30px;
}

/*==================================================*/

form {
	/* Center the form on the page */
	margin: 0 auto;
	width: 400px;
	/* Form outline */
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
	/* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
	margin-left: .5em;
}

